<%
  def link_to(name, url)
    return "<a href='#{url}'>#{name}</a>"
  end
%>
<html>
  <body>
    <h1>You're using a layout</h1>
    <p>
      <h3>Ruby And Rails Tutorial</h3>
      <p>This is Header</p>
      <a href="http://www.google.com" target="_blank">Google</a>

    </p>
    <hr />
    <div>
      <%= yield %>
    </div>
    <hr />
    <div>
      <h3> I'm a footer</h3>
      <p>This is Footer</p>
      
      <%= link_to('This is a link to google', 'http://google.com') %><br>
      <%= link_to('This is a link to Yahoo', 'http://yahoo.com') %>
      
    </div>
  </body>
</html>
