<h1>Le Shaun is IN!</h1>
<h2>So shhh..!</h2>

<em>Le Shaun wants the following:</em>
</br>
<% n=1 %>
<% ["Mangy Mutt","Flea-Bitten Maggot","Cankerous Sore"].each do |c| %>
	 <%= "#{n}. #{c}" %>
	 </br> 
		<% n+=1 %>
<% end %>
</br>
<footer>That should be enough.</footer>